{% extends "reservations/base.html" %}

{% block content %}

  <br>
  <h3>Experts Top 10 Ranked Gins</h3>
  <p id="experts">Our editors have reached out to the gin-connoisseurs of the world and asked them, "What gins are ranked best in their category?" Lo and behold, they gave us their top ranked gins for each category, which makes our and your lives so much easier. They have done the hard work for us! Hopefully the list below helps you when it comes to making your favourite gin cocktails. Cheers! <i class="fas fa-glass-cheers"></i></p>
  <br>
    <div class="container">
          <!-- looping through the gin.json file to populate the below -->
          {% for cocktail in data %}
            <div class="row">
              <div class="col-md-4"><img src="{{ cocktail.image_source }}" alt="" width="100%" height="auto"></div>
              <div class="col-md-8">
                <p class="gin-rank">{{ cocktail.position }}</p>
                <h4>{{ cocktail.name }}</h4>
                <h6 class="best-for">{{ cocktail.category }}</h6>
                <p class="price">{{ cocktail.price }}</p>
                <p>{{ cocktail.wtb }}</p>
                <a class="gt-btn-dark" target="_blank" href="{{ cocktail.url }}">Buy Now</a>
                <br>
                <br>
                <p>{{ cocktail.description }}</p>
              </div>
            </div>
            <br>

          {% endfor %}
          <p class="text-muted">*Prices are subject to change</p>  
    </div>

{% endblock %}