{% extends "reservations/base.html" %}

{% block content %}

  <section>
    <div class="container-contact">
      <div class="center-form contact-items">
        <div class="email">
          <form onsubmit ="return sendMail(this);"> 
            <br>
            <h3>Have a question?</h3>
            <h6 class="text-center">Send us an email today!</h6>
            <input type="text" name="name" id="fullname" class="form-control" placeholder="Name" required />
            <input type="email" name="emailaddress" id="emailaddress" class="form-control" placeholder="Email Address" required />
            <textarea rows="4" name="ginbooking" id="ginbooking" class="form-control" placeholder="Gin Class Enquiry" required></textarea>
            <br>
            <div class="form-row text-center">
                <div class="col">
                  <button type="submit" class="gt-btn-dark">Send Enquiry</button>
                </div>
            </div>
          </form>
          <br>
          <br>
          <div class="text-center">
            <h6>Where to find us</h6>
            <p>GinTopia Ltd.<br>Floor 1, 22 Chapel St,<br>London, Belgravia,<br>SW1X, 7BY<br>United Kingdom</p>
          </div>
        </div>
        
      </div>
      <div class="contact-items">
        <iframe
          style="border:0"
          loading="lazy"
          allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCW2pmSQFdkgRn4VZ5_5bIP8&key=AIzaSyAMptgYoxpwQ5ZA-ztcsITFsTN3AGATTSM&q=GinTopia,London+UK">            
        </iframe>
      </div>
    </div>
  </section>
    
{% endblock %}