{% extends "reservations/base.html" %}

{% block content %}
  <hr>
  <section>
    <br>
    <h3>GinTopia Class Bookings</h3>
    <br>
    <table class="table table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Class Date</th>
        <th>Class Time</th>
        <th>No. of People</th>
        <th>Mixologist</th>
        <th>Edit Booking</th>
        <th>Delete Booking</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.user_email }}</td>
        <td>{{ item.user_phone }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.time }}</td>
        <td>{{ item.for_how_many }}</td>
        <td>{{ item.mixologist }}</td>
        <td>
          <a href="/update/{{ item.id }}">
            <button class="update-btn"><i class="fa fa-edit"></i> Edit</button>
          </a>
        </td>
        <td>
          <a href="/delete/{{ item.id }}">
            <button class="delete-btn"><i class="fa fa-trash"></i> Delete</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p class="text-center"><a class="btn btn-secondary" href="{% url 'booking_form' %}">Add a booking</a></p>
  </section>
  
{% endblock %}