{% extends "reservations/base.html" %}

{% block content %}
  <hr>
  <section>
    <br>
    <h3>GinTopia Class Bookings</h3>
    <br>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <p style="margin:0px;" class="{{ message.tags }}">{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}
    <table class="table table-hover table-sm">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Class Date</th>
        <th>Class Time</th>
        <th>No. of People</th>
        <th>Mixologist</th>
        <th>Edit Booking</th>
        <th>Delete Booking</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.user_email }}</td>
        <td>{{ item.user_phone }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.time }}</td>
        <td>{{ item.for_how_many }}</td>
        <td>{{ item.mixologist }}</td>
        <td>
          <a href="/update/{{ item.id }}">
            <button class="update-btn"><i class="fa fa-edit"></i> Edit</button>
          </a>
        </td>
        <td>
          <a href="/delete/{{ item.id }}">
            <button id="open" class="delete-btn"><i class="fa fa-trash"></i> Delete</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p class="text-center"><a class="gt-btn-dark" href="{% url 'booking_form' %}">Add a booking</a></p>
    
    <!-- Start of Modal -->
    <div class="modal-container-gt" id="modal_container_gt">
      <div class="modal-gt">
        <h4>GinTopia Class Booking</h4>
        <hr>
        <p>Delete class booking?</p>
        <div class="modal-footer-gt">
          <button class="gt-btn-dark" type="button" id="no-btn">No</button>
          <button class="gt-btn-success" type="submit" id="yes-btn">Yes</button>
        </div>
      </div>
    </div>
    <!-- /.end of modal -->

  </section>
  
{% endblock %}